body {
  background: url(/images/pattern.png),
    url(/images/blossom.jpg) center center/cover no-repeat fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  background-color: rgb(74, 81, 88);
  font-size: 45px;
}
.p1 {
  background: url(/images/fire.png) center center/350px no-repeat;
}
